$palettes: (
	
	mono: (
		default: #000,
		white: #FFF,
		black: #000
	),

	yellow: (
		default: #FAD961
	),
	
	orange: (
		default: #F76B1C
	)
) !default;

$coming-soon-background:	palette( orange ) !default;
$coming-soon-gradient:		radial-gradient( circle, palette( yellow ), palette( orange ) ) !default;

.yui {

	.yui-gradient {
		background-color: $coming-soon-background;
		background-image: $coming-soon-gradient;
	}
}